.input-box {
    margin: 0 auto;
    text-align: center;
}

input {
    width: 1200px;
    padding: 15px;
    border: 2px solid $primary-color;
    font-family: $paragraph-font;
    color: $text-color;
    font-size: 1rem;
    margin: 25px 25px 0 25px;
}

.suggest-field {
    background-color: white;
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid $lightgrey;
    border-left: 1px solid $lightgrey;
    border-right: 1px solid $lightgrey;
    font-family: $paragraph-font;
    color: $text-color;
}

.suggest-field:hover {
    background-color: $lightgrey;
}

.d-none {
    display: none;
}

.suggestcontainer {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    width: 1230px;
    max-height: 300px;
    overflow: auto;
}